/* Home Page Styles */
body{
	width:100%;
	height:100%;
	padding-top: 50px;
	padding-left:0px;
	color:#333333;
	background-color: transparent;
}

/* Navigation Bar Styles */
.navbrand-font{
	font-family: cursive;
	font-size:120%;
}

.nav-font{
	font-family: Helvetica;
	font-size:120%;
}

.dropdown-font{
	font-family: sans-serif;
	font-size: 110%;
}

/* Picture Header */
.fp-header-sec{
  padding: 200px 0px 50px;
  height:400px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  background:url(/Resources/images/FrontPageHeader.jpg) no-repeat;
}

.fp-header-sec h1 {
  color: #fff;
}

.fp-header-sec .image{
	height:60px;
	width:80px;
}

.fp-header-sec .name{
	text-align: center;
	font-style:italic;
	font-family: fantasy;
	font-weight:700;
	font-size:300%;
	color:#fff;
}

.fp-header-sec .title{
	text-align:center;
	font-family: sans-serif;
	font-size:150%;
	font-weight:500;
	color:#fff;
}

/* Front Page Image Style */
.fp-img{
	margin:80px 0px 80px 160px;
    width:240px;
    height:360px;
    border-radius:20px;
    overflow: hidden;
    position:relative;
}

/* Front Page Introduction */
.fp-intro-sec{
	width:100%;
	height:auto;
	background-color: #f7f7f7;
}

.fp-intro{
	margin:80px 0px 80px 0px;
	position:relative;
}

.fp-intro .name{
	margin:20px 0px 20px 0px;
	font-family: monospace;
}

.fp-intro .line{
	margin:0;
	width:180px;
	height:4px;
	border:none;
	border-top:4px solid #000;
}

.fp-intro .bio{
	margin:20px 60px 0px 0px;
	font-size:120%;
	text-align: justify;
}

/* Links in Frontpage Introduction */
.bio a{
	color:#0000e3;
}

.bio a:hover{
	background-color:#aaaaff;
	text-decoration: underline;
	transition: background-color 0.6s ease 0.1s;
}

.bio a:visited{
	background-color:#aaaaff;
	text-decoration: none;
}

/* Read More Button (Button1) */
.fp-intro .btn1{
	margin:30px 0px 0px 0px;
	height:50px;
	width:120px;
	position:relative;
}

.btn1 .btn1link{
	background-color: transparent;
	color: 		#27223E;
	font-size:	120%;
    border: 	solid rgba(39, 34, 62, 1) 2px;
    padding: 	5px 10px 5px 10px;
    justify-content: center;
    cursor: 	pointer;
    display:	flex;
    align-items:center;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s,color 0.4s ease 0s;
}

.btn1-a:hover{
	color: #7d7dff;
    border-color: #7d7dff;
    text-decoration: none;
}

/* Front Page News Section */
.fp-news-sec{
	background-color: rgba(223, 207, 186, 1);
	width:100%;
	height:auto;
}

.fp-news-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.fp-news-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.fp-news-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.fp-news-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.fp-news-sec ul{
	list-style-type:none;	
	padding-left:0px;
}

.fp-news-sec li{
	padding-left:0px;
	margin-bottom: 20px;
}

.fp-news-sec .date{
	font-weight:bold;
}

.fp-news-sec .contents-margin{
	margin-left:15px;
}

.fp-news-sec .read-more{
	margin-right:20px;
	float:right;
}

.fp-news-sec a{
	color:#0066cc;
	text-decoration: none;
}

.fp-news-sec a:hover{
	color:#46a3ff;
	text-decoration: underline;
	transition: color 0.4s ease 0s;
}

.fp-news-sec a:visited{
	color:#aaaaff;
	text-decoration: none;
}

/* Recent Publications */
.fp-papers-sec{
	width:100%;
	height:auto;
	background-color: #f7f7f7;
}

.fp-papers-sec .title{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.fp-papers-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.fp-papers-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.fp-papers-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.fp-papers-sec .contents-table{
	border-collapse: collapse;
	align:left;
}

.fp-papers-sec td{
	padding:0px 20px 20px 0px;
	text-align: justify;
}

.contents-table a{
 	color: #007979;
}

.contents-table a:hover{
	color:#00caca;
	text-decoration: none;
	transition: color 0.6s ease 0.1s;
}

.contents-table a:visited{
	color:#aaaaff;
	text-decoration: none;
}

.fp-papers-sec .btn2{
	margin:0px 0px 0px 0px;
	height:50px;
	width:120px;
	position:relative;
}

.btn2 .btn2link{
	background-color: transparent;
	color: 		#27223E;
	font-size:	100%;
    border: 	solid rgba(39, 34, 62, 1) 2px;
    padding: 	5px 10px 5px 10px;
    justify-content: center;
    cursor: 	pointer;
    display:	flex;
    align-items:center;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s,color 0.4s ease 0s;
}

.btn2-a:hover{
	color: #7d7dff;
    border-color: #7d7dff;
    text-decoration: none;
}

/* Footer Styles */
.fp-footer{
	background-color:#222;
	color:#e0e0e0;
	font-family: serif;
	font-size:110%;
	width:100%;
	height:auto;
}

.fp-footer .contents{
	padding: 25px 10px 25px 10px;
}

.fp-footer .contacts-table{
	border-collapse: collapse;
	align:left;
}

.contacts-table tr{
	vertical-align: top;
}
.contacts-table td{
	margin:0;
	padding:0px 10px 10px 10px;
}
.fp-footer a{
	color:#f7f7f7;
}
.fp-footer a:hover{
	color:#4efbe3;
	text-decoration: none;
}

.fp-footer .links-table{
	border-collapse:collapse;
}

.links-table tr{
	vertical-align: top;
}

.links-table td{
	margin:0;
	padding:0px 10px 16px 10px;
}

/* Research Interest Page */
.research-interest-sec{
	width:100%;
	height:auto;
	background-color: #f7f7f7;
}

.research-interest-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.research-interest-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.research-interest-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.research-interest-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

/* Research Projects */
.research-projects-sec{
	width:100%;
	height:auto;
	background-color: rgba(223, 207, 186, 1);
}

.research-projects-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.research-projects-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.research-projects-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.research-projects-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.research-projects-sec .rp-contents-table{
	border-collapse: collapse;
	align:left;
}

.rp-contents-table td{
	padding:0px 20px 20px 10px;
	text-align: justify;
}

/* Academic Activities */
.academic-activities-sec{
	width:100%;
	height:auto;
	background-color: #f7f7f7;
}

.academic-activities-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.academic-activities-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.academic-activities-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.academic-activities-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.academic-activities-sec .contents-margin{
	margin-left:15px;
}

.academic-activities-sec ul{
	list-style-type:none;	
	padding-left:0px;
}

.academic-activities-sec li{
	padding-left:0px;
	margin-bottom: 20px;
}

/* Publications */
.publications-sec{
	width:100%;
	height:auto;
	background-color: rgba(223, 207, 186, 1);
}

.publications-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.publications-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.publications-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.publications-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.publications-sec .main-title{
	font-family: cursive;
	font-weight: bold;
	font-style: italic;
	font-size: 150%;
	margin-bottom: 40px;
}

.publications-sec a{
	color:#0000c6;
}

.publications-sec a:hover{
	color:#009393;
	text-decoration: none;
	transition: color 0.6s ease 0.1s;
}

.publications-sec a:visited{
	color:#ff5151;
	text-decoration: none;
}

/* Awards */
.awards-sec{
	width:100%;
	height:auto;
	background-color: rgba(223, 207, 186, 1);
}

.awards-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.awards-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.awards-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.awards-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.awards-sec .aw-contents-table{
	border-collapse: collapse;
	font-size:110%;
	align:left;
}

.awards-sec td{
	padding:0px 20px 20px 10px;
	text-align: justify;
}

/* About Me -  Biography */
.aboutme-bib-sec{
	width:100%;
	height:auto;
	background-color: #f7f7f7;
}

.aboutme-bib-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.aboutme-bib-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.aboutme-bib-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.aboutme-bib-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.aboutme-bib-sec .btn3{
	margin:30px 0px 0px 0px;
	height:50px;
	width:180px;
	position:relative;
}

.btn3 .btn3link{
	background-color: transparent;
	color: 		#27223E;
	font-size:	100%;
    border: 	solid rgba(39, 34, 62, 1) 2px;
    padding: 	5px 10px 5px 10px;
    justify-content: center;
    cursor: 	pointer;
    display:	flex;
    align-items:center;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s,color 0.4s ease 0s;
}

.btn3-a:hover{
	color: #7d7dff;
    border-color: #7d7dff;
    text-decoration: none;
}

/* About Me - Education */
.aboutme-edu-sec{
	width:100%;
	height:auto;
	background-color: rgba(223, 207, 186, 1);
}

.aboutme-edu-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.aboutme-edu-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.aboutme-edu-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.aboutme-edu-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.aboutme-edu-sec .ab-edu-table{
	border-collapse: collapse;
	margin-bottom: 20px;
	align:left;
}

.aboutme-edu-sec td{
	padding:0px 0px 10px 10px;
	text-align: justify;
}

.aboutme-cell-width{
	width: 200px;
}

/* About Me - Employment */
.aboutme-emp-sec{
	width:100%;
	height:auto;
	background-color: #f7f7f7;
}

.aboutme-emp-sec .title{
	margin-top: 	50px;
	margin-bottom: 	50px;
	text-align: 	center;
}

.aboutme-emp-sec .title-style{
	font-family: monospace;
	font-weight: bold;
}

.aboutme-emp-sec .line{
	margin-top:0;
	width:15%;
	height:2px;
	border:none;
	border-top:2px solid #000;
}

.aboutme-emp-sec .contents{
	margin:20px 160px 60px 160px;
	font-family: Helvetica;
	font-size:120%;
}

.aboutme-emp-sec .ab-emp-table{
	border-collapse: collapse;
	margin-bottom: 20px;
	font-size: 110%;
	align:left;
}

.aboutme-emp-sec td{
	padding:0px 0px 10px 15px;
	text-align: justify;
}

